header(class="navbar navbar-inverse navbar-fixed-top")

	.container

		.navbar-header
			a.navbar-brand(href="/admin/login") node-mvc-boilerplate Admin

		ul.nav.navbar-nav
			li: a(href="/admin/dashboard") Dashboard

		.navbar-right
			a(href="/admin/logout" class="btn btn-danger btn-sm sign_out") Sign Out

		ul.nav.navbar-nav.navbar-right
			li: a(href="/admin/administrators") Administrators