header(class="navbar navbar-inverse navbar-fixed-top")

	.container

		.navbar-header
			a.navbar-brand(href="/login") mega-trainer

		ul.nav.navbar-nav
			li: a(href="/dashboard") Dashboard

		.navbar-right
			a(href="/logout" class="btn btn-danger btn-sm sign_out") Sign Out

		ul.nav.navbar-nav.navbar-right
			li: a(href="/administrators") Administrators